<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todoリスト</title>
</head>

<body>
  <h1>Todoリスト</h1>
  <form action="/todos" method="post">
    <input type="text" name="todoContent">
    <input type="submit" value="作成">
  </form>

  <h2>Todo一覧</h2>
  <ul>
    <% todos.map(function(todo) { %>
      <li>
        <%= todo.content %>
        <a href="/todos/<%= todo.id %>/edit">
          <button>編集ページ</button>
        </a>
        <form action="/todos/<%= todo.id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="削除">
        </form>
      </li>
      <% }); %>
  </ul>
</body>

</html>